<html>

<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	{{!-- <script src="js/jquery-1.11.0.js"> </script> --}}
	{{!-- <script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"></script> --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.avatar {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border: 1px solid black;
			border-radius: 50%;
		}

		#ZZ_Plant_Zanzibar_Gem {
			position: absolute;
			top: 80px;
			left: 80px;
			overflow: visible;
			width: 165px;
			white-space: nowrap;
			text-align: center;
			font-family: Didot;
			font-style: normal;
			font-weight: bold;
			font-size: 37px;
			color: rgba(0, 0, 0, 1);
			letter-spacing: 0.4px;
		}

		.plant-title-container {
			display: flex;
			flex-direction: row;
		}
	</style>
	<header>
</head>

<body>
	<form>
		<input type="button" value="Back" onclick="history.go(-1)">
	</form>
	<span>{{name}}</span>
	<span>{{description}}</span>
	<img class="avatar" src={{imagePath}} alt="">
	</header>
	<section>
		<div class="essentials-wrapper">
			<p>{{essential-1}}</p>
			<p>{{essential-2}}</p>
			<p>{{essential-3}}</p>
		</div>

		<div class="whatNotToDo-wrapper">
			<p>{{whatNotToDo-1}}</p>
			<p>{{whatNotToDo-2}}</p>
			<p>{{whatNotToDo-3}}</p>
		</div>
	</section>

</body>

</html>
