<html>

<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	{{!-- <script src="js/jquery-1.11.0.js"> </script> --}}
	{{!-- <script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"></script> --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.avatar {
			/*vertical-align: middle;*/
			width: 125px;
			height: 125px;
			border: 1px solid black;
			border-radius: 50%;
			transform: scale(1) translate(10px, -90%);

		}

		#ZZ_Plant_Zanzibar_Gem {
			position: absolute;
			top: 80px;
			left: 80px;
			overflow: visible;
			width: 165px;
			white-space: nowrap;
			text-align: center;
			font-family: Didot;
			font-style: normal;
			font-weight: bold;
			font-size: 37px;
			color: rgba(0, 0, 0, 1);
			letter-spacing: 0.4px;
		}

		.plant-title-container {
			display: flex;
			flex-direction: row;
		}

		.backbutton {
			background-image: 
     			url('./desktop/.../images/backbutton@3x.png');

		}

		.pagetitle {
			font-family: didot;
			font-size: ;
			transform: scale(1) translate(155px, 40%);
		}

		.formalname {
			font-family: didot;
			font-size: large;
			transform: scale(1) translate(165px, -30%);
		}

		.essentials-wrapper {
			font-family: didot;
			transform: scale(1) translate(10px, -80%);
		}
		
		.whatNotToDo-wrapper {
			font-family: didot;
			transform: scale(1) translate(10px, -60%);
		}

		.main-ew {
			font-family: didot;
			font-weight: bold;
			border: 1px bold black;
			border-radius: 20px;
			transform: scale(1) translate(0px, 30%);
		}

	</style>
	<header>
</head>

<body>
	<form>
		<input type="button" value="Back" onclick="history.go(-1)">
		<!--<img class="backbutton">-->
	</form>
	<h1 class="pagetitle">{{name}}</h1>
	<p class="formalname">{{description}}</p>
	<img class="avatar" src={{imagePath1}} alt="">
	</header>
	<section>
		<div class="essentials-wrapper">
			<p class="main-ew">{{essential-1}}</p>
			<li>{{essential-2}}</li>
			<li>{{essential-3}}</li>
			<li>{{essential-4}}</li>
		</div>

		<div class="whatNotToDo-wrapper">
			<p class="main-ew">{{whatNotToDo-1}}</p>
			<li>{{whatNotToDo-2}}</li>
			<li>{{whatNotToDo-3}}</li>
			<li>{{whatNotToDo-4}}</li>
		</div>
	</section>
	<body style="background-color:beige;">
</body>

</html>
